<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<!--    package="com.example.marketsurveillance">-->

    <!--文字辨識-->
    <!-- CameraX libraries require minSdkVersion 21, while this quickstart app
supports low to 19. Needs to use overrideLibrary to make the merger tool
ignore this conflict and import the libraries while keeping the app's lower
minSdkVersion value. In code, will check SDK version, before calling CameraX
APIs. -->
    <uses-sdk
        tools:overrideLibrary="
          androidx.camera.camera2, androidx.camera.core,
          androidx.camera.view, androidx.camera.lifecycle,
          com.google.mlkit.vision.segmentation.subject" />
    <!--文字辨識-->

    <!--google drive權限-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!--相機權限-->
    <!--can be a front camera or a back camera-->
    <uses-feature android:name="android.hardware.camera.any"
                    android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />



    <application
        android:name=".login.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarketSurveillance"
        tools:targetApi="31">

<!--        地圖<meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="YOUR_API_KEY" />-->
<!--        <meta-data android:name="asset_statements"-->
<!--            android:resource="@string/asset_statements" />-->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MarketSurveillance"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".camera.CameraActivity"
            android:label="Camera Activity">
            <!-- 这里是 CameraActivity 的配置 -->
        </activity>
        <activity
            android:name=".login.UploadActivity"
            android:label="Upload Activity">
            <!-- 这里是 Uploadctivity 的配置 -->
        </activity>
    </application>


</manifest>